.navbar-nav .nav-item .nav-link {
  margin-right: -10px;
}
.navbar {
  height: 40px;
  /* background: rgb(59, 58, 58); */
}
.fa {
  font-size: 18px;
  color: yellow;
  padding: 10px;
}
.fs:hover {
  background-color: yellow;
  color: black;
  padding: 10px;
}
.leaflet-popup-close-button {
  opacity: 0;
  transform: translate3d(634px, 356px, 0px);
  color: transparent;
  bottom: -7px;
  left: -46px;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent;
  color: transparent;
  box-shadow: none;
}

.leaflet-container {
  z-index: 1;
}

.box {
  box-shadow: 10px -3px 10px -7px rgb(36, 34, 34, 0.8);
  padding: 10px;
}
.don {
  background-color: #545051;
  border-color: #545051;
  float: right;
}
.carrr {
  background-color: #545051;
  width: 400px;
  height: auto;
  overflow: scroll;
  /* justify-content: center;
  display: grid;
  align-items: center; */
  margin-bottom: -30px;
  top: 50%;
  left: 50%;
  /* transform: translate(-10%, 30%); */
  color: wheat;
}
.MuiPaper-root .MuiCard-root {
  background-color: #545051;
  width: 400px;
  height: auto;

  /* justify-content
   overflow-y: scroll;: center;
  display: grid;
  align-items: center; */
}
.image {
  height: 100px;
  width: 100%;
}
.lodl {
  position: relative;
  top: -10px;
  opacity: 0.7;
}
.btn-apply {
  background-color: rgba(13, 13, 250, 0.6);
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-top: 15px;
}
.btn-apply:hover {
  color: white;
}
.btn-rest:hover {
  color: white;
}

.btn-rest {
  background-color: rgba(68, 68, 68, 0.6);
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-top: 15px;
}
input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
}

input[type="checkbox"]:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 15px;
  color: transparent !important;
  background: yellow;
  display: block;
  width: 18px;
  border-radius: 4px;
  height: 18px;
  border: 1px solid yellow;
  line-height: 16px;
}

input[type="checkbox"] + label:before {
  border-radius: 2px;
  background: white;
}

input[type="checkbox"]:checked:before {
  color: black !important;
}

.heelo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

select.minimal {
  background-color: rgba(13, 13, 250, 0.6);

  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  color: white;
  border: 2px solid rgba(13, 13, 250, 0.6);
  position: relative;
  top: 8px;
}

select.minimal:hover {
  background-color: rgba(13, 13, 250, 0.6);

  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  color: white;
  border: 2px solid rgba(13, 13, 250, 0.6);
  position: relative;
  top: 8px;
}
select option {
  padding: 10px;
}
.input-group-text {
  background-color: transparent;
  border: 1px solid yellow;
  height: 40px;
  width: 50px;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: yellow;
  outline: none;
  /* opacity: 0.7; */
  /* -webkit-transition: 0.2s; */
  /* transition: opacity 0.2s; */
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: yellow;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  background: yellow;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 100vh;
  overflow: scroll;
  /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
  height: 100vh;
  overflow: scroll;
}

/* .left,
.right {
  width: 25%;
} */

.middle {
  width: 75%;
  height: 100vh;
  overflow: scroll;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.box-crona11 h3 {
  color: white;
}

.box-crona11 h2 {
  color: white;
}
.hello {
  padding: 20px;
}

.carrr {
  background-color: black;
  color: white;
  padding-left: 30px;
  padding-top: 20px;
  max-width: 300px;
  border-radius: 7px;
}
.main_list {
  color: red;
}
.recover_list {
  color: green;
}
.active_list {
  color: rgb(255, 153, 0);
}
.middlee {
  height: 100vh;
  background-color: rgb(61, 60, 60);
  overflow: scroll;
}

.middlee1 {
  height: 100vh;
  overflow: scroll;
}
.middleed {
  height: 70vh;
  background-color: rgb(61, 60, 60);
  overflow: scroll;
}

.confirmm {
  padding: 8px;
  background-color: black;
  border-radius: 8px;
  display: fixed;
  overflow: scroll;
}
.fass {
  border: 0;
  outline: 0;
}
.fass:hover {
  border: 0;
  outline: 0;
}

.caaar {
  display: block;
  /* margin-top: -30px; */
  overflow-y: scroll;
}

.caaar thead tr th {
  position: sticky;
  top: 0;
  z-index: -100px;
}

.caaar tfoot tr th {
  position: sticky;
  top: 0;
}
.male {
  /* -webkit-box-shadow: 6px 30px 30px 9px rgba(231, 227, 227, 0.3);
  -moz-box-shadow: 6px 30px 30px 9px rgba(231, 227, 227, 0.3);
  box-shadow: 6px 30px 30px 9px rgba(231, 227, 227, 0.3); */
  padding: 10px;
  background-color: rgb(41, 40, 40);
}
